#include <windows.h>
#include "resource.h"

//
// Version Information
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_STR_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
    BLOCK "StringFileInfo"
    {
        BLOCK "040904b0"
        {
            VALUE "CompanyName",      VER_STR_COMPANYNAME
            VALUE "FileDescription",  VER_STR_DESCRIPTION
            VALUE "FileVersion",      VER_STR_VERSION
            VALUE "InternalName",     VER_STR_ORIGINALFILENAME
            VALUE "LegalCopyright",   VER_STR_COPYRIGHT
            VALUE "OriginalFileName", VER_STR_ORIGINALFILENAME
            VALUE "ProductName",      VER_STR_APPNAME
            VALUE "ProductVersion",   VER_STR_VERSION
        }
    }
    BLOCK "VarFileInfo"
    {
        VALUE "Translation", 0x409, 1200
    }
}


//
// Icon
//

// "ICON" ICON "app.ico"


//
// Menu
//

"MENU" MENU
{
    POPUP "&File"
    {
        MENUITEM "&New", IDM_FILE_NEW
        MENUITEM "&Open...", IDM_FILE_OPEN
        MENUITEM "&Save", IDM_FILE_SAVE
        MENUITEM "Save &As...", IDM_FILE_SAVE_AS
        MENUITEM "&Exit", IDM_FILE_EXIT
    }
    POPUP "&Brainfuck"
    {
        POPUP "&Memory type"
        {
            MENUITEM "&Signed (-128 to 127)", IDM_BF_MEMTYPE_SIGNED
            MENUITEM "&Unsigned (0 to 255)", IDM_BF_MEMTYPE_UNSIGNED
        }
        POPUP "&Output charset"
        {
            MENUITEM "&ASCII (real time output)", IDM_BF_OUTPUT_ASCII
            MENUITEM "&UTF-8 (bufferred output)", IDM_BF_OUTPUT_UTF8
            MENUITEM "Shift_&JIS (bufferred output)", IDM_BF_OUTPUT_SJIS
            MENUITEM "&Hexadecimal (real time output)", IDM_BF_OUTPUT_HEX
        }
        POPUP "Input &charset"
        {
            MENUITEM "&UTF-8", IDM_BF_INPUT_UTF8
            MENUITEM "Shift_&JIS", IDM_BF_INPUT_SJIS
            MENUITEM "&Hexadecimal", IDM_BF_INPUT_HEX
        }
        POPUP "&Input instruction"
        {
            MENUITEM "&Error on no input", IDM_BF_NOINPUT_ERROR
            MENUITEM "&Zero on no input", IDM_BF_NOINPUT_ZERO
            MENUITEM "&FF (-1 or 255) on no input", IDM_BF_NOINPUT_FF
        }
        POPUP "Integer &overflow"
        {
            MENUITEM "&Error", IDM_BF_INTOVF_ERROR
            MENUITEM "&Wrap around", IDM_BF_INTOVF_WRAPAROUND
        }
        MENUITEM "&Breakpoint instruction (@)", IDM_BF_BREAKPOINT
    }
    POPUP "&Options"
    {
        POPUP "&Speed"
        {
            MENUITEM "&Fastest", IDM_OPT_SPEED_FASTEST
            MENUITEM "1 ms (&o)", IDM_OPT_SPEED_1MS
            MENUITEM "10 ms (&t)", IDM_OPT_SPEED_10MS
            MENUITEM "100 ms (&h)", IDM_OPT_SPEED_100MS
        }
        MENUITEM "Memory &view...", IDM_OPT_MEMVIEW
        MENUITEM "&Real time debugging (slow)", IDM_OPT_TRACK
        MENUITEM "Highlight &program pointer", IDM_OPT_HLTPROG
        MENUITEM "Highlight &memory pointer", IDM_OPT_HLTMEM
        MENUITEM "&Dark theme", IDM_OPT_DARK
        MENUITEM "&Word wrap", IDM_OPT_WORDWRAP
    }
    MENUITEM "&About", IDM_ABOUT
}

//
// Dialog (memory view range)
//

"MEMVIEWOPT" DIALOG 0, 0, 200, 100
STYLE DS_SETFONT | DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
CAPTION "Memory view options"
FONT 9, "MS Shell Dlg"
{
   LTEXT "Set a start address of the memory view (0-indexed byte):", 0, 8, 8, 180, 24
   EDITTEXT  IDG_FROM, 8, 45, 64, 14, ES_NUMBER
   DEFPUSHBUTTON "&OK", IDG_OK, 80, 80, 50, 12
   PUSHBUTTON "&Cancel", IDG_CANCEL, 140, 80, 50, 12
}
