#include <windows.h>
#include "resource.h"

LANGUAGE LANG_NEUTRAL, SUBLANG_NEUTRAL

//
// Version information
//

VS_VERSION_INFO VERSIONINFO
FILEVERSION     VER_STR_FILEVERSION
FILEFLAGSMASK   VS_FFI_FILEFLAGSMASK
FILEFLAGS       0
FILEOS          VOS_NT_WINDOWS32
FILETYPE        VFT_APP
{
  BLOCK "StringFileInfo"
  {
    BLOCK "040904b0"
    {
      VALUE "CompanyName",      VER_STR_COMPANYNAME
      VALUE "FileDescription",  VER_STR_DESCRIPTION
      VALUE "FileVersion",      VER_STR_VERSION
      VALUE "InternalName",     VER_STR_ORIGINALFILENAME
      VALUE "LegalCopyright",   VER_STR_COPYRIGHT
      VALUE "OriginalFileName", VER_STR_ORIGINALFILENAME
      VALUE "ProductName",      VER_STR_APPNAME
      VALUE "ProductVersion",   VER_STR_VERSION
    }
  }
  BLOCK "VarFileInfo"
  {
    VALUE "Translation", 0x409, 1200
  }
}


//
// Icon
//

icon ICON "app.ico"


//
// Menu
//

menu MENU
{
  POPUP "&File"
  {
    MENUITEM "&New", IDM_FILE_NEW
    MENUITEM "&Open...", IDM_FILE_OPEN
    MENUITEM "&Save", IDM_FILE_SAVE
    MENUITEM "Save &As...", IDM_FILE_SAVE_AS
    MENUITEM "&Exit", IDM_FILE_EXIT
  }
  POPUP "&Edit"
  {
    MENUITEM "&Undo", IDM_EDIT_UNDO
    MENUITEM "Cu&t", IDM_EDIT_CUT
    MENUITEM "&Copy", IDM_EDIT_COPY
    MENUITEM "&Paste", IDM_EDIT_PASTE
    MENUITEM "Select &All", IDM_EDIT_SELALL
  }
  POPUP "&Brainfuck"
  {
    POPUP "&Memory Type"
    {
      MENUITEM "&Signed (-128 to 127)", IDM_BF_MEMTYPE_SIGNED
      MENUITEM "&Unsigned (0 to 255)", IDM_BF_MEMTYPE_UNSIGNED
    }
    POPUP "&Output Charset"
    {
      MENUITEM "&ASCII (Real Time Output)", IDM_BF_OUTPUT_ASCII
      MENUITEM "&UTF-8 (Bufferred Output)", IDM_BF_OUTPUT_UTF8
      MENUITEM "Shift_&JIS (Bufferred Output)", IDM_BF_OUTPUT_SJIS
      MENUITEM "&Hexadecimal (Real Time Output)", IDM_BF_OUTPUT_HEX
    }
    POPUP "Input &Charset"
    {
      MENUITEM "&UTF-8", IDM_BF_INPUT_UTF8
      MENUITEM "Shift_&JIS", IDM_BF_INPUT_SJIS
      MENUITEM "&Hexadecimal", IDM_BF_INPUT_HEX
    }
    POPUP "&Input Instruction"
    {
      MENUITEM "&Error When No Input", IDM_BF_NOINPUT_ERROR
      MENUITEM "&Zero When No Input", IDM_BF_NOINPUT_ZERO
      MENUITEM "&FF (-1 or 255) When No Input", IDM_BF_NOINPUT_FF
    }
    POPUP "Integer &Overflow"
    {
      MENUITEM "&Error", IDM_BF_INTOVF_ERROR
      MENUITEM "&Wrap Around", IDM_BF_INTOVF_WRAPAROUND
    }
    MENUITEM "&Breakpoint Instruction (@)", IDM_BF_BREAKPOINT
  }
  POPUP "&Options"
  {
    POPUP "&Speed"
    {
      MENUITEM "&Fastest", IDM_OPT_SPEED_FASTEST
      MENUITEM "1 ms (&o)", IDM_OPT_SPEED_1MS
      MENUITEM "10 ms (&t)", IDM_OPT_SPEED_10MS
      MENUITEM "100 ms (&h)", IDM_OPT_SPEED_100MS
    }
    MENUITEM "Memory &View...", IDM_OPT_MEMVIEW
    MENUITEM "&Real Time Debugging (Slow)", IDM_OPT_TRACK
    MENUITEM "Highlight &Program Pointer", IDM_OPT_HLTPROG
    MENUITEM "Highlight &Memory Pointer", IDM_OPT_HLTMEM
    MENUITEM "Switch &Theme", IDM_OPT_DARK
    MENUITEM "Switch &Layout", IDM_OPT_LAYOUT
    MENUITEM "&Font...", IDM_OPT_FONT
    MENUITEM "&Word Wrap", IDM_OPT_WORDWRAP
  }
  MENUITEM "&About", IDM_ABOUT
}


//
// Accelerator
//

accel ACCELERATORS
{
  "^A", IDM_EDIT_SELALL
}


//
// Dialog
//

#ifdef UNDER_CE
memviewopt DIALOG 0, 0, 128, 64
EXSTYLE 0x80000000L  // WS_EX_CAPTIONOKBTN
FONT 9, "Tahoma"
#else
memviewopt DIALOGEX 0, 0, 128, 64
FONT 9, "MS Shell Dlg 2"
#endif
CAPTION "Memory view options"
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION | WS_SYSMENU
{
  LTEXT "First address of the memory view (0-indexed byte)", -1, 8, 8, 112, 28, SS_NOPREFIX
#ifdef UNDER_CE  // It already has an OK button on the title bar.
  EDITTEXT 3, 32, 40, 64, 14, ES_NUMBER
#else
  EDITTEXT 3, 8, 40, 64, 14, ES_NUMBER
  DEFPUSHBUTTON "&OK", IDOK, 80, 40, 40, 14
#endif
}


//
// Manifest for PC platforms (high DPI and common controls version 6)
//

#if !(defined UNDER_CE) && !(defined NOMANIFEST)
1 MANIFEST app.manifest
#endif
